.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}

.btn {
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #444444;
  color: #ffffff;
}