* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
}

.btn {
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #d7e4dc;
  color: #000000;
}

.btn-danger {
  background-color: #d90505;
  color: #ffffff;
}